[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
imageai = "*"
tensorflow = "==2.12.0"
keras = "==2.12.0"
requests = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
